#header{
    text-align: center;
    font-weight: bolder;
}
.red_border{
    border: red thin solid;
}
.display_flex{
    margin: 20px 0;
    border: thick solid;
    /* width: 500px; */
    display: flex;

    /* flex-direction */
    /* flex-direction: row; */
    flex-direction: row-reverse;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    
    /* justify-content */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: space-evenly;

    /* ----- align-items -----*/
    /* align-items: stretch ; */
    align-items: flex-start ;
    /* align-items: flex-end ; */
    /* align-items: baseline ; */
    /* align-items: center ; */

    /* ----- align-items -----*/
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */

    /* ----- gap -----*/
    /* gap: 30px; */
    /* row-gap: 10px; */
    /* column-gap: 20px; */
    /* row-gap column gap  */
    gap: 10px 20px; 
}
.flexed_img{
    width: 150px;
    border: thin red solid;
}
#position_demo{
    border: thick solid;
}
.position_item{
    border: thin solid red;
    position: fixed;
    left: 20px;
    top: 20px;
}